*.iml
.idea/encodings.xml
*.xml
ark-tweet-nlp/*
data/*
output.pos
output.pos
places/*
*.pyc
data/*
model/*
result/*
*.pyc
consolidated data/*
newData/*
samples/*
samples_full/*
samples_hist/*
oldData/*
collector/properties.py
